body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: rgb(226, 226, 226);
  height: 100%;
}

.welcome {
  width: 100vw;
  height: 100vh;
  background: url("../images/laptop.png") no-repeat center;
  background-size: auto;
}

.welcome-text {
  padding: 120px 200px 120px 200px !important;
}

.codestory-span {
  color: crimson;
}

.nav-wrapper .fa-bars {
  font-size: 35px;
}

.story-text {
  height: 100%;
  margin: 25px!important;
}

.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}

#about_img {
  width: 200px;
  height: 200px;
}

.gugi {
  font-family: "Gugi", cursive;
}

.card-feed {
  width:50%;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

a.btn:hover {
  background: crimson !important;
}

.profile-img {
  width: 200px;
}