<h1>About us</h1>
<h2>this is juan idea</h2>
<br>

<div class="row">
  <div class="col sm12 m6">
    <img src="https://i.pinimg.com/originals/ff/a7/18/ffa71850a5568ca6663868687faabb97.jpg" class='circle responsive-img' width="200px" height="200px">
    <h4>Denis Rodriguez-Ramos</h4>
    <p>web developer</p>
  </div>
  <div class="col sm12 m6">
    <img src="https://i.pinimg.com/originals/ff/a7/18/ffa71850a5568ca6663868687faabb97.jpg" class='square responsive-img' width="200px" height="200px">
    <h4>Juan Valdivia</h4>
    <p>web developer</p>
  </div>
 

<div class="row">
<div class="col sm12 m6">
    <img src="https://i.pinimg.com/originals/ff/a7/18/ffa71850a5568ca6663868687faabb97.jpg" class='square responsive-img' width="200px" height="200px">
    <h4>Mark Ludice</h4>
    <p>web developer</p>
  </div>
   <div class="col sm12 m6">
    <img src="https://i.pinimg.com/originals/ff/a7/18/ffa71850a5568ca6663868687faabb97.jpg" class='square responsive-img' width="200px" height="200px">
    <h4>Seukan kong</h4>
    <p>web developer</p>
  </div>



<div class="row">
 <div class="col sm12 m6">
    <img src="https://i.pinimg.com/originals/ff/a7/18/ffa71850a5568ca6663868687faabb97.jpg" class='square responsive-img' width="200px" height="200px">
    <h4>Mister Armando</h4>
    <p>web developer</p>
  </div>


