<h1>About Us</h1>
<br>
<hr>

<div class="row">
  <div class="col sm12 m6">
    <img src="images/Photo_Mark.png" class='circle responsive-img' id='about_img'>
    <h4>Mark Iudice</h4>
    <p>codeStory Lead Developer</p>
    <p>Full Stack Developer</p>
    <p>Learned to code at Rutgers Coding Bootcamp. Been coding since ealry 2018.</p>
    <p>Located in NJ</p>
    <a href="https://github.com/mark5046">Github</a>
  </div>
  <div class="col sm12 m6">
    <img src="https://i.pinimg.com/originals/ff/a7/18/ffa71850a5568ca6663868687faabb97.jpg" class='circle responsive-img' id='about_img'>
    <h4>Denis Rodriguez-Ramos</h4>
    <p>codeStory Backend Developer</p>
    <p>Full Stack Developer</p>
    <p>Learned to code at Rutgers Coding Bootcamp. Been coding since ealry 2018.</p>
    <p>Located in NJ</p>
    <a href="https://github.com/ventolucci">Github</a>
  </div>
</div>

<div class="row">
  <div class="col sm12 m6">
    <img src="images/King_Kong.png" class='circle responsive-img' id='about_img'>
    <h4>Seungha Kong</h4>
    <p>codeStory Backend Developer</p>
    <p>Full Stack Developer</p>
    <p>Learned to code at Rutgers Coding Bootcamp. Been coding since ealry 2018.</p>
    <p>Located in NJ</p>
    <a href="https://github.com/kseha1080">Github</a>
  </div>
  <div class="col sm12 m6">
    <img src="images/Juan_Valdivia.png" class='circle responsive-img' id='about_img'>
    <h4>Juan Valdivia</h4>
    <p>codeStory Frontend Developer</p>
    <p>Full Stack Developer</p>
    <p>Learned to code at Rutgers Coding Bootcamp. Been coding since ealry 2018.</p>
    <p>Located in NJ</p>
    <a href="https://github.com/jdv0194">Github</a>
  </div>
</div>

<div class="row">
  <div class="col sm12 m6">
    <img src="https://i.pinimg.com/originals/ff/a7/18/ffa71850a5568ca6663868687faabb97.jpg" class='circle responsive-img' id='about_img'>
    <h4>Armando Vargas</h4>
    <p>codeStory Backend Developer</p>
    <p>Full Stack Developer</p>
    <p>Learned to code at Rutgers Coding Bootcamp. Been coding since ealry 2018.</p>
    <p>Located in NJ</p>
    <a href="https://github.com/MandoMalchus">Github</a>
  </div>
</div>