<h1>Welcome</h1>
<p>Post code from the best and worst of your life</p>
{{#if user}}
{{else}}
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}