<h1>Welcome</h1>
<p class="gugi">Post code from the best and worst of your life</p>
{{#if user}}
{{else}}
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}

<p class="gugi">This app is designed to allow developers to share their projects with other developers.  Whether it be a game, website, or anything else you've coded.  Share it here and see what the community thinks.  You can like posts and comment on them, checkout other developer's completed applications, or visit the user's github repo and see the actual code.  Follow your favorite coders or checkout what's popular.</p>