<h1>Add Code</h1>
<div class="row">
  <form action="/stories" method="post" class="col s6">
    <div class="row">
      <div class="input-field">
        <input type="text" name="title">
        <label for="title">Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select name="status">
          <option value="select" disabled selected>Select</option>
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>
        <label for="status">Select status</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <select name="category">
          <option value="select" disabled selected>Select</option>
          <option value="games">Game</option>
          <option value="website">Website</option>
          <option value="app">Mobile App</option>
          <option value="framework">Framework</option>
        </select>
        <label for="category">Category</label>
      </div>
    </div>

    <div class="row">
    <select name="languages" multiple>
      <option value="languages" disabled selected>Select languages</option>
      <option value="javascript">Javascript</option>
      <option value="python">Python</option>
      <option value="ruby">Ruby</option>
      <option value="htmlcss">HTML & CSS</option>
      <option value="java">Java</option>
      <option value="c">C++, C#</option>
      <option value="objectivec">Objective C</option>
      <option value="sql">SQL</option>
      <option value="php">PHP</option>
      <option value="ios">IOS / Swift</option>
    </select>
    <label>Languages</label>
  </div>

    <div class="row">
      <div class="input-field">
        <input type="text" name="repolink">
        <label for="repolink">Repository Link</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <input type="text" name="description">
        <label for="description">Description</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field">
        <h5>Share Your Code:</h5>
        <textarea name="body"></textarea>
      </div>
    </div>

    <input type="submit" value="Save" class="btn">
  </form>
</div>